@media screen and (min-device-width: 1800px) {
    h1 {
        font-size: 2.8em;
    }

    p {
        font-size: 1.6em;
    }
}

@media screen and (max-device-width: 1050px) {
    .metiers {
        max-width: 45%;
    }

    .cont-accueil {
        flex-wrap: wrap;
        width: 80%;
    }

    .txt-superpose {
        font-size: 2.5em;
    }

    #logo-footer, .d-inline-flex .vertical-footer, .cont-metiers img {
        display: none;
    }

    .cont-metiers {
        width: 95%;
    }
}

@media screen and (max-device-width: 600px) {

    .hamburger {
        display: flex;
    }

    #header {
        margin-bottom: 60px;
    }

    .header-section {
        display: none;
        margin-bottom: 0;
        flex-direction: column;
        text-align: center;
        background-color: #002395;
    }

    .header-section.active {
        display: flex;
    }

    .header-element {
        padding: 0.5rem;
        width: 100%;
        transition: all 150ms ease-in-out;
    }

    .header-element:hover {
        background-color: rgba(255, 255, 255, 0.8);
    }

    .header-element a {
        font-size: 2em;
        color: white;
    }

    .header-element a:hover {
        color: #ED2939;
    }

    .header-element:last-child {
        display: none;
    }

    #carousel-header img {
        aspect-ratio: 2/1;
    }

    .txt-section-metiers h1 {
        font-size: 3.5em;
        margin-top: 0.5em;
    }
    
    .txt-section-metiers p {
        font-size: 2.5em;
    }
}

